.contacts-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contacts-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  position: relative;
  z-index: 10;

  @media (--max-xl) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--max-md) {
    grid-template-columns: 1fr;
  }
}

.contacts-cards::before {
  content: '';
  background: url('../images/shadow.png') no-repeat 50% 50%;
  width: 1894px;
  height: 880px;
  background-size: cover;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;

  @media (--max-md) {
    display: none;
  }
}

.contacts-card {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 0;
  padding: 36px;

  @media (--max-md) {
    border: 1px solid #e5e5e5;
    padding: 24px;
  }
}

.contacts-card__icon {
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contacts-card__name {
  font-size: 28px;
  line-height: 1.25;
  color: #3b77bd;
  margin-bottom: 24px;
}

.contacts-card__content {
  font-size: 16px;
  line-height: 1.5;
  color: #454545;
}

.contacts-card__content p {
  margin: 0;
}

.contacts-card__content *+p {
  margin-top: 1.5em;
}

.contacts-card__content big {
  font-size: 20px;
}

.contacts-map {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.feedback {
  display: flex;
  padding: 36px 36px 16px;
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(74, 182, 161);
  position: relative;
  z-index: 20;
  overflow: hidden;

  @media (--max-xl) {
    flex-direction: column;
  }

  @media (--max-md) {
    padding: 24px 24px 12px;
  }
}

.feedback__content {
  width: 380px;
  flex-shrink: 0;

  @media (--max-xl) {
    width: 100%;
  }
}

.feedback__title {
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;

  @media (--max-md) {
    font-size: 32px;
  }
}

.feedback__desc {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.feedback__form {}

.feedback-form {
  display: flex;
  gap: 20px;

  @media (--max-xl) {
    flex-direction: column;
  }
}

.feedback-form__fields {
  flex-grow: 1;
  min-width: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  @media (--max-md) {
    grid-template-columns: 1fr;
  }
}

.feedback-form__errors {
  @media (--min-md) {
    grid-column: 3 span;
  }
}

.feedback-form__errors:empty {
  display: none;
}

.feedback-form__input {}

.feedback-form__textarea {
  @media (--min-md) {
    grid-column: 3 span;
  }
}

.feedback-form__required {
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 1;

  @media (--min-md) {
    grid-column: 3 span;
  }
}

.feedback-form__actions {
  min-width: 0;
  width: 280px;
  flex-shrink: 0;

  @media (--max-xl) {
    width: 100%;
  }
}

.feedback-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  padding: 0;
  background: transparent;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 26px;
  cursor: pointer;
}

.feedback-form__submit:hover {
  color: #000;
  background: #fff;
}

.feedback-form__rules {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin-top: 12px;
}

.feedback-form__rules a {
  text-decoration: underline;
  color: inherit;
}

.feedback-form__rules a:hover {
  text-decoration: none;
}

.feedback-form__success {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(240, 240, 240, 0.8);
  backdrop-filter: blur(12px);
}

[data-feedback-form-status='success'] .feedback-form-success {
  display: flex;
}

.feedback-form__success-title {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.feedback-form__success-desc {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 32px;
}

.feedback-form__success-close {
  font-size: 16px;
  color: #303437;
  line-height: 1.2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 500;
  white-space: nowrap;
  border: 2px solid #303437;
  width: 220px;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 0.15s;
}

.feedback-form__success-close:hover {
  color: #fff;
  transition-duration: 0.3s;
  border-color: #303437;
  background-color: #303437;
}