.footer {
  --footbar-size: 48px;
  --ears-size: 140px;

  position: relative;
  z-index: 90;
  margin-top: 48px;
  background: linear-gradient(to bottom, transparent 0%, transparent calc(100% - var(--footbar-size)), #f5f5f5 calc(100% - var(--footbar-size)), #f5f5f5 100%);

  @media (--max-2xl) {
    --ears-size: 0px;
  }

  @media (--max-md) {
    margin-top: 32px;
  }
}

.footer-layout {
  margin-left: var(--ears-size);
  margin-right: var(--ears-size);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-layout__nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 96px;
  margin-bottom: 40px;

  @media (--max-md) {
    order: 30;
    min-height: auto;
    padding-bottom: 16px;
    margin-bottom: 8px;
  }
}

.footer-layout__nav::before {
  content: '';
  position: absolute;
  left: calc(var(--ears-size) * -1);
  right: calc(var(--ears-size) * -1);
  top: 0;
  height: 1px;
  background: #f3f3f5;

  @media (--max-md) {
    display: none;
  }
}

.footer-layout__nav::after {
  content: '';
  position: absolute;
  left: calc(var(--ears-size) * -1);
  right: calc(var(--ears-size) * -1);
  bottom: 0;
  height: 1px;
  background: #f3f3f5;
}

.footer-layout__contacts {
  margin-bottom: 24px;
  width: 50%;
  align-self: stretch;

  @media (--max-md) {
    order: 10;
    width: 100%;
    padding-top: 22px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e1e5ee;
    }
  }
}

.footer-layout__no-oferta {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 40px - 24px);
  align-self: stretch;

  @media (--max-md) {
    order: 60;
    width: 100%;
    position: relative;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e1e5ee;
    }
  }
}

.footer-layout__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-lg) {
    width: 100%;
  }

  @media (--max-md) {
    order: 70;
    width: 100%;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
  }
}

.footer-layout__sitemap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-md) {
    order: 80;
  }
}

.footer-layout__privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-md) {
    order: 40;
    width: 50%;
    height: auto;
  }
}

.footer-layout__user-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-md) {
    order: 50;
    width: 50%;
    text-align: right;
    height: auto;
  }
}

.footer-layout__counters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-md) {
    order: 90;
  }
}

.footer-layout__groups {
  margin-bottom: 24px;
  width: 40px;
  margin-left: 24px;
  align-self: flex-start;

  @media (--max-md) {
    order: 20;
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.footer-layout__creator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footbar-size);

  @media (--max-md) {
    order: 100;
  }
}

.footer-contacts {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (--max-md) {
    column-gap: 6px;
    row-gap: 12px;
  }
}

.footer-contacts__item {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (--max-md) {
    gap: 4px;
  }
}

.footer-contacts__item-ico {
  border-radius: 50%;
  background-color: rgb(70, 189, 163);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  flex-shrink: 0;

  @media (--max-md) {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}

.footer-contacts__item-val {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.25;

  @media (--max-md) {
    font-size: 13px;
  }
}

.footer-contacts__item--address .footer-contacts__item-val {
  font-size: 12px;
  color: #333;
  text-wrap: balance;

  @media (--max-md) {
    text-align: center;
  }
}

.footer-contacts__item--address .footer-contacts__item-ico {

  @media (--max-md) {
    display: none;
  }
}

.footer-link {
  text-decoration: underline;
  color: #575758;
  font-size: 12px;
  display: block;
  line-height: 1.25;
}

.footer-link:hover {
  color: #000;
}

.footer-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media (--max-lg) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (--max-md) {
    display: block;
    columns: 2;
  }
}

.footer-nav li {

  @media (--max-md) {
    display: block;
    margin-bottom: 12px;
  }
}

.footer-nav li a {
  text-decoration: underline;
  color: #131313;
  font-size: 14px;
  line-height: 1.25;
  display: block;
  text-align: center;
  text-wrap: balance;

  @media (--max-md) {
    text-align: left;
    font-size: 13px;
  }
}

.footer-nav li a:hover {
  color: #000;
}

.footer-counters {
  display: flex;
}

.footer-copyright {
  color: #575758;
  font-size: 12px;
  line-height: 1.25;
}

.footer-no-oferta {
  font-size: 12px;
  color: #131313;
  line-height: 1.25;
  max-width: 232px;
  text-align: justify;

  @media (--max-md) {
    text-align: center;
    max-width: 100%;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (--max-md) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer-social__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #828283;
  background: #e8e8e8;
  border: none;
  text-decoration: none;
}

.footer-social__item:hover {
  background: #bfbfc0;
  color: #1c1c1e;
}

.footer-creator {
  display: flex;
}