.intro {
  background: url('../images/bg-intro2.jpg') no-repeat 50% 50%;
  background-size: cover;
  margin-top: -120px;
  overflow: hidden;
  padding-bottom: 85px;
  padding-top: 342px;

  @media (--max-2xl) {
    padding-top: 260px;
    padding-bottom: 64px;
  }

  @media (--max-lg) {
    margin-top: -64px;
    padding-top: 180px;
  }

  @media (--max-md) {
    padding-top: 320px;
    padding-bottom: 36px;
    background-position-x: 60%;
  }
}

.intro-layout__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-layout__logo {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 8px #6099e940);
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    width: 440px;
  }

  @media (--max-md) {
    width: 280px;
  }
}

.intro-layout__logo img {
  width: 100%;
  height: auto;
}

.intro-layout__logo::before {
  content: "";
  position: absolute;
  inset: -12px;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  z-index: -1;
}

.intro-layout__title {
  font-size: 48px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    font-size: 40px;
  }

  @media (--max-md) {
    font-size: 22px;
  }
}

.intro-layout__title::before {
  content: "";
  position: absolute;
  inset: -12px;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  z-index: -1;
}

.intro-layout__desc {
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  margin-top: 34px;
  color: #fff;
  text-wrap: balance;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    font-size: 18px;
  }

  @media (--max-md) {
    font-size: 14px;
    margin-top: 12px;
  }
}

.intro-layout__desc::before {
  content: "";
  position: absolute;
  inset: -12px;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  z-index: -1;
}

.intro-layout__more {
  margin-top: 106px;
  display: flex;
  justify-content: center;

  @media (--max-2xl) {
    margin-top: 64px;
  }

  @media (--max-md) {
    margin-top: 16px;
  }
}

.intro-more {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-decoration: none;
  height: 72px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  width: 300px;
  max-width: 100%;

  @media (--max-md) {
    height: 56px;
    border-radius: 12px;
  }
}

.intro-more:hover {
  background: #e5e5e5;
}

.intro-more__text {
  white-space: nowrap;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;

  @media (--max-md) {
    font-size: 14px;
  }
}

.intro-more__icon {
  font-size: 16px;
  display: flex;

  @media (--max-md) {
    font-size: 14px;
  }
}