.prices-list {
  margin-top: 68px;
  margin-bottom: 156px;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 68px; */

  @media (--max-md) {
    /* gap: 32px; */
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

.prices-item {
  display: flex;
  gap: 16px;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 460px;
  margin: 68px 0;
  /* альтернативный вариант тени */
  /* filter: drop-shadow(-30px 0 30px #d2e6ff) drop-shadow(30px 0 30px #d2f8ff); */

  @media (--max-md) {
    margin: 32px 0;
  }
}

.prices-item-shadow {
  position: absolute;
  background: url('../images/shadow3.png') no-repeat 50% 50%;
  width: 1894px;
  height: 860px;
  background-size: cover;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  pointer-events: none;
  margin-top: -250px;
}

.prices-item__slideshow {
  flex-shrink: 0;
  width: calc(50% - 8px);
  position: relative;
}

.prices-item__body {
  flex-shrink: 0;
  width: calc(50% - 8px);
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.prices-item__desc {
  padding: 30px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 0;
  width: 100%;
  flex-grow: 1;
}

.prices-item__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #356fb9;
  margin-bottom: 36px;
}

.prices-item__content {
  font-size: 16px;
  color: #454545;
  line-height: 1.2;
}

.prices-item__data {
  padding: 30px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.prices-item__data-content {
  padding-top: 12px;
  padding-bottom: 12px;
}

.prices-item__name {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #356fb9;
  margin-bottom: 12px;
}

.prices-item__introtext {
  font-size: 16px;
  color: #454545;
  line-height: 1.5;
}

.prices-item__data-estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.prices-item__price {
  font-size: 60px;
  color: #cd2832;
  text-align: center;
  line-height: 1;
}

.prices-item__unit {
  font-size: 24px;
  color: #cd2832;
  text-align: center;
  line-height: 1;
  margin-top: -2px;
}

.prices-item__order {
  border-radius: 20px;
  background: rgb(205, 40, 50);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 16px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  border: none;
  margin-top: 8px;
  cursor: pointer;
}

.prices-item__order:hover {
  background: #b8242d;
}

.slideshow {
  overflow: hidden;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.slideshow__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: -16px;
  height: 100%;
}

.slideshow__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
  padding-left: 16px;
  flex: 0 0 100%;
  display: flex;
}

.slideshow__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.slideshow__nav {}

.slideshow__prev {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.slideshow__next {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}